@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face{
  font-family: "WooridaumL";
  font-weight: 300;
  src: url("/public/fonts/WooridaumL.ttf");
}

@font-face{
  font-family: "WooridaumR";
  font-weight: 400;
  src: url("/public/fonts/WooridaumR.ttf");
}

@font-face{
  font-family: "WooridaumB";
  font-weight: 700;
  src: url("/public/fonts/WooridaumB.ttf");
}

.wooridaumL{
  font-family:"WooridaumL";
}

.wooridaumB{
  font-family:"WooridaumB";
}

.wooridaumR{
  font-family:"WooridaumR";
}


body {
  width: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family:"WooridaumR","WooridaumB","WooridaumL";
}

.wrapper {
  width: 100%;
  max-width: 393px;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  background-color: #a7a1a1;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}
  
nav{
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 393px;
  margin-left: -196.5px;
  height: 60px;
  background-color: #703333;
}