@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b2d7f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "WooridaumL";
  font-weight: 300;
  src: url("/fonts/WooridaumL.ttf");
}

@font-face {
  font-family: "WooridaumR";
  font-weight: 400;
  src: url("/fonts/WooridaumR.ttf");
}

@font-face {
  font-family: "WooridaumB";
  font-weight: 700;
  src: url("/fonts/WooridaumB.ttf");
}

.wooridaumL {
  font-family: "WooridaumL";
}

.wooridaumB {
  font-family: "WooridaumB";
}

.wooridaumR {
  font-family: "WooridaumR";
}

body {
  width: 100%;
  color: var(--foreground);
  background: var(--background);
  font-family: "WooridaumR", "WooridaumB", "WooridaumL";
}

.wrapper {
  width: 100%;
  max-width: 393px;
  height: 100vh;
  overflow-y: auto;
  margin: 0 auto;
  background-color: white;
  position: relative;
  box-sizing: border-box;
}

nav {
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 393px;
  margin-left: -196.5px;
  height: 60px;
  background-color: #703333;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.shake-animation {
  display: inline-block;
  animation: shake 0.5s ease-in-out;
}

/* Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .loader {
    @apply w-12 h-12 border-4 border-gray-300 border-t-blue-500 rounded-full animate-spin;
  }

  .loader-small {
    @apply w-6 h-6 border-2 border-gray-300 border-t-blue-500 rounded-full animate-spin;
  }

  .loader-large {
    @apply w-16 h-16 border-8 border-gray-300 border-t-blue-500 rounded-full animate-spin;
  }
}